body{
    font-family: 'Assistant', sans-serif;
}

#title{
    background-color: rgb(50, 164, 230);
    width: auto;
    height: 60px;

}

#summry{
    background-color: rgb(50, 164, 230);
    width: auto;
    height: 200px;
}

#pic1{
    width: auto;
    height: 450px;
}

.links{
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 90px;
    /* background-color: black; */
    color: white;
    margin-right: 10px;
    padding-right: 5px;
    font-size: small;


}

.links:hover{
    background-color: white;
    color:rgb(50, 164, 230) ;
}
#suer{
    margin-right: 80px;
}

*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    height: 300px;
    text-align: center;

}
.row{
    background-color: aqua;
    width: 100%;
    height: 300px;
    vertical-align: middle;
    line-height: 60px;
}

h3{
    margin: 0px;
    font-weight: 500;
    font-weight: bold;
}
.about{
    margin-top: 30px;
    color: rgb(4, 79, 122);
}
#about2{
    margin-left: 170px;
    line-height: 20px;
    text-align: left;
    color: white;
    vertical-align: top;

}

#news{
    text-align: left;
    color: white;
    margin-left: 85px;
    vertical-align: top;
    line-height: 20px;

}
#pic2{
    margin-bottom: -20px;
}
#pic3{
    margin-bottom: -20px;
}
#pic4{
    margin-bottom: -20px;
}

#spform{
    height: 300px;
    width: 500px;
    background-color: rgba(37, 33, 33, 0.8);
    position: absolute;
    top: 200px;
    right: 100px;
}

#up{

    width: auto;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 28px;
}
#sp{
    margin: 0px;
    color: white;

}

#left{
    width: 50%;
    height: 300px;
    text-align: center;
    color: white;
    float: left;
    margin-top: 00px;
}

.nep{
    display: block;
    margin-bottom: 6px;
}

#right{
    width: 50%;
    height: 300px;
    text-align: center;
    float: right;
    margin-top: 0px;
    color: white;

}
.msm{
    display: block;
    margin-bottom: 6px;
}

input {
    width: 200px;
    height: 5px;
    padding: 12px 20px;
    margin: 8px 0;

}
#massa{
    height: 130px;
    place

}
#sub{
    width: 200px;
    height: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    line-height: 5px;
}

#msm{
    height:5px ;

}
#sub:hover{
    background-color: #330981;

}